html {
  color-scheme: dark;
}

button {
  padding: 2px 9px;
}

.saveload {
  margin: 5px;
}

.sheepEntry {
  height: 25px;
  white-space: nowrap;
}

.sheepEntry>select,
.sheepEntry>select>option,
.sheepEntry>button {
  font-weight: bold;
  text-shadow: 2px 2px 3px black;
  height: 25px;
}

.sheepEntry>input {
  height: 23px;
  width: 100px;
  padding: 0px;
  border: 1px solid;
}

.main {
  display: flex;
  width: 100%;
}

.list {
  margin: 5px;
  padding-right: 10px;
  border-right: 1px black solid;
}

.coord {
  width: 35px;
}

.output {
  width: 100%;
  flex-shrink: 2;
  margin: 5px 0px;
  overflow: auto;
}

.command {
  padding: 5px;
  margin: 5px;
  border: 1px grey solid;
  background-color: #555;
  border-radius: 10px;
}