button {
  padding: 2px 9px;
}

.sheepEntry {
  height: 25px;
  white-space: nowrap;
}

.sheepEntry>select,
.sheepEntry>button {
  height: 25px;
}

.sheepEntry>input {
  height: 23px;
  padding: 0px;
  border: 1px solid;
}

.App {
  display: flex;
  width: 100%;
}

.input {
  margin: 10px;
  padding-right: 10px;
  border-right: 1px black solid;
}

.output {
  margin: 10px;
}

.command {
  padding: 5px;
  margin: 5px;
  border: 1px grey solid;
  background-color: lightgray;
  border-radius: 10px;
}